.container-search-bar {
    border: 1px solid #e7e7e7;
    background-color: #f3f3f3;
}

.container-search-bar ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    align-items: center;
}

.container-search-bar li {
    padding: 5px 20px;
    line-height: 2.5em;
    color: #666;
    cursor: pointer;
}

.container-search-bar li.active {
    background-color: #d7d7d7;
}

.container-search-bar li:hover {
    background-color: #c3c3c3;
    color: #ffffff;
}
